{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

<h2 class="govuk-heading-m">New official contact to add</h2>
{% set rows = [] %}

{% set _ = rows.push({
  key: { text: "First name" },
  value: { text: application.requests[0].firstName }
}) %}

{% set _ = rows.push({
  key: { text: "Last name" },
  value: { text: application.requests[0].lastName }
}) %}

{% set _ = rows.push({
  key: { text: "Organisation" },
  value: { text: organisation }
}) %}

{% set _ = rows.push({
  key: { text: "Relationship" },
  value: { text: application.requests[0].relationship }
}) %}

{% set _ = rows.push({
  key: { text: "Telephone number 1" },
  value: { text: application.requests[0].telephone1 }
}) %}

{% set _ = rows.push({
  key: { text: "Telephone number 2" },
  value: { text: application.requests[0].telephone2 }
}) %}

{{ govukSummaryList({
  classes: "govuk-!-margin-bottom-9",
  rows: rows
}) }}
