{%- from "moj/components/messages/macro.njk" import mojMessages -%}
{%- from "govuk/components/character-count/macro.njk" import govukCharacterCount -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/inset-text/macro.njk" import govukInsetText -%}

<h2 class="govuk-heading-m govuk-!-margin-top-6">Messages</h2>

{% if messages and messages.length %}
  {{ mojMessages({ items: messages }) }}
{% endif %}

{% if showAwaitingReplyMessage %}
  {{ govukInsetText({
    text: "You can’t send another message until staff reply to this one."
  }) }}
{% endif %}

{% if canSendReply %}
  <h2 class="govuk-heading-s govuk-!-margin-top-6">{% if messages and messages.length %}Send a reply{% else %}Send a message{% endif %}</h2>
  <form method="post" novalidate>
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    {% if not (messages and messages.length) %}
      {% set replyHint = { text: "Changes to the original request may not be possible if your app is being processed." } %}
    {% endif %}

    {{ govukCharacterCount({
      name: "reply",
      id: "reply",
      maxlength: 500,
      threshold: 75,
      value: replyValue,
      hint: replyHint,
      errorMessage: errors.reply
    }) }}

    {{ govukButton({
      text: "Send"
    }) }}
  </form>
{% endif %}
