{{ govukCharacterCount({
  name: "details",
  id: "details",
  maxlength: 1000,
  threshold: 75,
  value: details,
  errorMessage: errors.Details,
  hint: {
    text: "Tell us what you want as clearly as you can."
  }
}) }}
