{{ govukCharacterCount({
  name: "details",
  id: "details",
  maxlength: 1000,
  threshold: 75,
  value: details,
  label: {
    text: "Details",
    classes: "govuk-label--s",
    isPageHeading: true
  },
  errorMessage: errors.Details,
  hint: {
    text: "Add a brief summary"
  }
}) }}
