{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% macro renderErrorSummary(errors) %}
  {% if errors %}
    {% set errorList = [] %}

    {% if errors.earlyDaysCentre %}
      {% set errorList = errorList.concat([{ text: errors.earlyDaysCentre.text, href: "#earlyDaysCentre" }]) %}
    {% endif %}
    
    {% if errors.Details %}
      {% set errorList = errorList.concat([{ text: errors.Details.text, href: "#details" }]) %}
    {% endif %}

    {% if errors.Amount %}
      {% set errorList = errorList.concat([{ text: errors.Amount.text, href: "#amount" }]) %}
    {% endif %}

    {% if errors.Reason %}
      {% set errorList = errorList.concat([{ text: errors.Reason.text, href: "#reason" }]) %}
    {% endif %}

    {% if errors.firstName %}
      {% set errorList = errorList.concat([{ text: errors.firstName.text, href: "#firstName" }]) %}
    {% endif %}

    {% if errors.lastName %}
      {% set errorList = errorList.concat([{ text: errors.lastName.text, href: "#lastName" }]) %}
    {% endif %}

    {% if errors.dateOfBirthOrAge %}
      {% set errorList = errorList.concat([{ text: errors.dateOfBirthOrAge.text, href: "#dateOfBirthOrAge" }]) %}
    {% endif %}

    {% if errors.dob %}
      {% set errorList = errorList.concat([{ text: errors.dob.text, href: "#dob" }]) %}
    {% endif %}

    {% if errors.age %}
      {% set errorList = errorList.concat([{ text: errors.age.text, href: "#age" }]) %}
    {% endif %}

    {% if errors.relationship %}
      {% set errorList = errorList.concat([{ text: errors.relationship.text, href: "#relationship" }]) %}
    {% endif %}
    
    {% if errors.telephone1 %}
      {% set errorList = errorList.concat([{ text: errors.telephone1.text, href: "#telephone1" }]) %}
    {% endif %}

    {% if errors.telephone2 %}
      {% set errorList = errorList.concat([{ text: errors.telephone2.text, href: "#telephone2" }]) %}
    {% endif %}

    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errorList
    }) }}
  {% endif %}
{% endmacro %}
