{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "./app-type-summary-list.njk" import appTypeSummaryListHeader %}

{% extends "../../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + title %}
{% set mainClasses = "app-container govuk-body applications-landing-page" %}

{% block content %}
  <div class="govuk-body govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{ govukBackLink({
          text: "Back",
          href: backLink
        }) }}

        <span class="govuk-caption-xl">{{ applicationType.name }}</span>
        <h1 class="govuk-heading-xl govuk-!-margin-top-0">Check details</h1>

        {{ govukSummaryList({
          rows: [
            {
              key: { text: "App type" },
              value: { text: applicationType.name }
            }
          ]
        }) }}

        {% if sectionHeading and not isGeneric %}
          {{ appTypeSummaryListHeader(sectionHeading, backLink) }}
        {% endif %}

        {% set summaryListRows = [] %}
        {% for summaryRow in summaryRows %}
          {% set rowItem = {
            key: { text: summaryRow.key },
            value: { text: summaryRow.value }
          } %}

          {% if isGeneric %}
            {% set rowItem = {
              key: { text: summaryRow.key },
              value: { text: summaryRow.value },
              actions: {
                items: [
                  {
                    href: backLink,
                    text: "Change",
                    visuallyHiddenText: summaryRow.key
                  }
                ]
              }
            } %}
          {% endif %}

          {% set summaryListRows = (summaryListRows.push(rowItem), summaryListRows) %}
        {% endfor %}

        {{ govukSummaryList({ rows: summaryListRows }) }}

        <form method="POST">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
          <div class="govuk-button-group">
            {{ govukButton({
              text: "Continue"
            }) }}

            <a class="govuk-link" href="/log/cancel">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
