{%- from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs -%}
{% extends "../../../partials/layout.njk" %}
{% from "../../../partials/breadcrumb.njk" import breadcrumb %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "./partials/results.njk" import results %}

{% set pageTitle = "Manage apps" %}
{% set mainClasses = "govuk-body" %}

{% block beforeContent %}
  <div class="govuk-width-container govuk-!-margin-top-6">

    {{ govukBreadcrumbs({
      classes: "govuk-!-margin-bottom-2",
      items: [
        {
          text: "Home",
          href: launchpadHome
        },
        {
          text: "Manage apps",
          href: "/"
        }
      ]
    }) }}
  </div>
{% endblock %}
{% block content %}
  <div class="govuk-width-container govuk-!-padding-bottom-5">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">{{ firstName }}'s apps</h1>

    <p class="govuk-body-l">Apps you have already sent</p>

    {% set openPanel %}
      {% if openApps and openApps.length %}
        {{ results(openApps, openPagination, "open", "#open", "app-results-table") }}
      {% else %}
        <p class="govuk-body">You have not sent any apps.</p>

        {{ govukButton({
          text: "Send a new app",
          href: '/log/group'
        }) }}
      {% endif %}
    {% endset %}

    {% set closedPanel %}
      {% if closedApps and closedApps.length %}
        {{ results(closedApps, closedPagination, "closed", "#closed", "app-results-table-closed") }}
      {% else %}
        <p class="govuk-body">You have no closed apps.</p>
      {% endif %}
    {% endset %}

    {{ govukTabs({
      title: "Apps",
      items: [
        {
          label: "Open apps",
          id: "open",
          panel: { html: openPanel }
        },
        {
          label: "Closed apps",
          id: "closed",
          panel: { html: closedPanel }
        }
      ]
    }) }}
  </div>
{% endblock %}
