{%- from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs -%}
{% extends "../../../partials/layout.njk" %}
{% from "../../../partials/breadcrumb.njk" import breadcrumb %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = "Manage apps" %}
{% set mainClasses = "govuk-body" %}

{% block beforeContent %}
  <div class="govuk-width-container govuk-!-margin-top-6">

    {{ govukBreadcrumbs({
      classes: "govuk-!-margin-bottom-2",
      items: [
        {
          text: "Home",
          href: launchpadHome
        },
        {
          text: "Manage apps",
          href: "/"
        }
      ]
    }) }}
  </div>
{% endblock %}
{% block content %}
  <div class="govuk-width-container govuk-!-padding-bottom-5">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">{{ firstName }}'s apps</h1>

    {% if apps and apps.length %}
      <p class="govuk-body-l">Check on apps already sent.</p>
      {% include "./partials/results.njk" %}
    {% else %}
      <p class="govuk-body">You have not not sent any apps.</p>

      {{ govukButton({
        text: "Send a new app",
        href: '/log/group'
      }) }}
    {% endif %}
  </div>
{% endblock %}
