.guidance-panel {
    border-left-color: #1d70b8;
    background-color: #eaf4f9;
    margin: 1em 0 !important;
}

.app-type-summary-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: govuk-spacing(2);
}

.app-type-summary-list-header__title {
  margin-bottom: 0;
}

.app-type-summary-list-header__link {
  white-space: nowrap;
  margin-bottom: 0;
}

.tiles-panel {
    padding: 50px 0;
}

.tiles-panel div {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    column-gap: 1.05%;
    row-gap: 0.5em;
}

.link-tile:hover, .link-tile:focus-within {
    border: solid 1px #b1b4b6;
}

.link-tile {
    border: solid 1px #D9DADB;
}

.link-tile a {
    text-decoration: none;
    background-color: #ffffff;
    box-shadow: 0 -5px 0 0 #D9DADB inset;
}
.link-tile img {
    width: 100%;
}

.link-tile footer {
    display: flex;
    flex-direction: column;
}
.link-tile footer h3 {
    color: #1d70b8;
}

@media (min-width: 60.626em) {
    .link-tile {
        flex: 0 0 24%;
    }
}
